<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="http://localhost/content/cabang/images/fav_icon.png">
<style type="text/css">@import url("http://localhost/content/cabang/css/reset.css");</style>
<style type="text/css">@import url("http://localhost/content/cabang/css/login.css");</style>
<title>Login</title>
</head><body>
<div id="login_box">
	
	<h1>Login Cabang</h1>
	
	<form action="http://localhost/content/cabang/index.php/login/process_login" method="post" name="login_form" id="login_form">		
				
		<p>
			<label for="username">Username:</label>
			<input name="username" size="20" class="form_field" value="admin" type="text">			
		</p>
				
		<p>
			<label for="password">Password:</label>
			<input name="password" size="20" class="form_field" value="" type="password">			
		</p>
				
		<p>
			<input name="submit" id="submit" value="Login" type="submit">
		</p>
	</form>
</div>
</body></html>