
body {
	background-color: #CCC;	
}
#products {
	float: left;
	width: 300px;
	margin-right: 10px;
}
#cart {
	float: left;
	width: 400px;
	background-color: #F30;
	padding: 10px;
	margin-top: 20px;
	border:1px solid #F30;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	text-align: center;
}
#cart a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #900;
}
#cart a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #900;
}
#cart a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #F00;
}
#cart table {
	background-color: #999;
	border:5px solid #999;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
#cart td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;	
}
#cart th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333;
	background-color: #F60;
}
#cart tr {
	background-color: #CCC;
}
#products ul {
	list-style : none;
}
#products li {
	background-color: #F90;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border:1px solid #f90;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	font-weight: bold;
}
#products li img{
	border:10px solid #fff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #333;	
}
